appnope==0.1.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
decorator==4.3.2
Django==1.8.3
django-cors-headers==2.4.1
django-widget-tweaks==1.4.1
djangorestframework==3.9.1
enum34==1.1.6
future==0.17.1
httplib2==0.10.3
ipython==5.8.0
ipython-genutils==0.2.0
line-bot-sdk==1.13.0
oauthlib==2.0.0
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
Pygments==2.3.1
PyJWT==1.5.3
python-dateutil==2.8.0
python-openid==2.2.5
python-social-auth==0.3.6
pytz==2017.3
requests==2.11.1
requests-oauth2==0.2.0
requests-oauthlib==0.5.0
rsa==3.4.2
scandir==1.9.0
simplegeneric==0.8.1
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
soupsieve==1.9.1
traitlets==4.3.2
wcwidth==0.1.7
